<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EtiketApp</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
    </header>

    <nav>
        <div class="flex-nav-container">
            <a class="flex-nav-item" href="/Home/labelImages">Fotoğraf Etiketle</a>
            <a class="flex-nav-item" href="/Home/labeledImages">Etiketlenmiş Fotoğraflar</a>
            <a class="flex-nav-item" href="/Home/updateInfo">Bilgilerimi Güncelle</a>
            <a class="flex-nav-item" href="">Çıkış Yap</a>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>
</html>
