<link href="~/css/style.css" rel="stylesheet" />
<div class="summerize">
    <h2 style="margin-bottom: 30px;">Fotoğraf İstatistikleri</h2>
    <p>Toplam Atanan Fotoğraf: <span class="count">0</span></p>
    <p>Etiketlenmiş Fotoğraflar: <span class="count">0</span></p>
    <p>Bekleyen Fotoğraflar: <span class="count">0</span></p>
</div>