@{
    Layout = "_Layout"; // Alternatif layout dosyası
}
<link rel="stylesheet" href="~/css/labeled-images.css">
<div class="etiket-container">
    <div class="date">
        <div class="start-date">
            <label>Başlangıç Tarihi:</label>
            <input type="date">
        </div>
        <div class="end-date">
            <label>Bitiş Tarihi:</label>
            <input type="date">
        </div>
        <div class="filter-btn">
            <button>Filtrele</button>
        </div>
        <div class="save-btn">
            <button>Değişiklikleri Kaydet</button>
        </div>
    </div>
    <div class="fotograf-item">
        <img src="~/../img/dusuk-isikta-fotograf-cekme.jpg" alt="">
    </div>
    <div class="foot-item">
        <div class="geribtn-item">
            <button>Geri</button>
        </div>


        <div class="etiket-btn">
            <button>A</button>
            <button>B</button>
            <button>C</button>
            <button>D</button>
            <button>E</button>

        </div>

        <div class="ileribtn-item">
            <button>İleri</button>
        </div>
    </div>
</div>
