@{
    Layout = "_Layout"; // Alternatif layout dosyası
}
<link rel="stylesheet" href="~/css/label-images.css">
<div class="etiket-container">
    <div class="info"><p>1.fotoğraf</p></div>
    <div class="save-btn">
        <button>Kaydet</button>
    </div>
    <div class="fotograf-item">
        <img src="~/../img/dusuk-isikta-fotograf-cekme.jpg" alt="">
    </div>
    <div class="foot-item">
        <div class="geribtn-item">
            <button>Geri</button>
        </div>


        <div class="etiket-btn">
            <button>A</button>
            <button>B</button>
            <button>C</button>
            <button>D</button>
            <button>E</button>

        </div>

        <div class="ileribtn-item">
            <button>İleri</button>
        </div>
    </div>
</div>
