@model UI.Controllers.HomeController.FotoResponse
@{
    Layout = "_Layout";
}

<script>
    const fotograflar = @Html.Raw(Json.Serialize(Model.Fotograflar));
</script>

<link rel="stylesheet" href="~/css/label-images.css" />
<script src="~/js/script.js"></script>

<div class="etiket-container">
    <div class="info"><p id="fotoIndex">1. görsel</p></div>

    <div class="save-btn">
        <button id="saveBtn">Kaydet</button>
    </div>

    <div class="fotograf-item">
        <img id="photo" src="" data-id="" alt="Fotoğraf bulunamadı" />
    </div>

    <div class="foot-item">
            @foreach (var etiket in Model.Etiketler)
            {
                <button class="etiket-btn" data-id="@etiket.Id">@etiket.EtiketAd</button>
            }

        <div class="foot-item">
            <button id="btn-prev">⬅ Geri</button>
            <button id="btn-next">İleri ➡</button>
        </div>
    </div>
</div>
