@{
    Layout = "_Layout"; // Alternatif layout dosyası
}
<link rel="stylesheet" href="~/css/update-info.css">
<main>
    <div class="update-container">
        <h2>Bilgilerimi Güncelle</h2>
        <form class="update-form">
            <div class="form-group">
                <label for="password">Yeni Şifre</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Şifreyi Tekrarla</label>
                <input type="password" id="confirm-password" name="confirm-password">
            </div>
            <button type="submit" class="update-btn">Güncelle</button>
        </form>
    </div>
</main>
